{% extends 'base.html' %}


{% block content %}

<style type="text/css"> textarea { resize: none; } </style>

<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>文章管理
                <small>新建文章</small>
            </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="form_basic.html#">选项1</a>
                    </li>
                    <li>
                        <a href="form_basic.html#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
			 <p align="center">
                <button type="button" class="btn btn-w-m btn-warning refreshButton">
                    <i class="fa fa-refresh"></i>&nbsp;刷新页面
                </button>
				 <button type="button" class="btn btn-w-m btn-danger closeTabButton">
                    <i class="fa fa-close"></i>&nbsp;关闭页面
                </button>
            </p>
			<form class="form-horizontal" onsubmit="return false">
				<div class="form-group">
					<label class="col-sm-1 control-label">文章分类:</label>
					<div class="col-sm-10">
						<select class="selectpicker" data-style="btn-primary" data-live-search="true">
							<option value="">请选择文章分类</option>
							{% for cat in category: %}
						  	<option>{{ cat[0] }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">标题:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" placeholder="请输入文章标题" name="article_title" autocomplete="off">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">SEO段标记:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="article_seo" placeholder="请使用英文单词和中划线" autocomplete="off">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">作者：</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" placeholder="请输入作者名称" autocomplete="off" value="{{ session.get('username') }}">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">有效期:</label>

					<div class="col-sm-10">
						<input class="form-control layer-date" value="" name="date_expire" id="date_expire" placeholder="YYYY-MM-DD hh:mm:ss" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
						<label class="laydate-icon"></label>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">配图:</label>

					<div class="col-sm-10">

					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">文章描述:</label>

					<div class="col-sm-10">
						<textarea class="form-control" rows="4" style="rezise"></textarea>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">文章内容：</label>

					<div class="col-sm-10">
						<!-- 加载编辑器的容器 -->
						<script id="container" name="content" type="text/plain">请填写文章内容...</script>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">标签：</label>
					<div class="col-sm-10">
						<input type="text" placeholder="请使用逗号分隔" class="form-control" autocomplete="off">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">浏览量：</label>
					<div class="col-sm-2">
						<input type="text" placeholder="" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">排序：</label>
					<div class="col-sm-2">
						<input type="text" placeholder="" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">密码保护：</label>
					<div class="col-sm-2">
						<input type="text" placeholder="" name="article_password" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">收费金额：</label>
					<div class="col-sm-2">
						<input type="text" placeholder="" name="article_price" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">点赞数：</label>
					<div class="col-sm-2">
						<input type="text" placeholder="" name="article_praise" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">踩点数：</label>
					<div class="col-sm-2">
						<input type="text" placeholder="" name="article_step" class="form-control">
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">是否置顶：</label>
					<div class="col-sm-2">
						<label class="radio-inline">
						  <input type="radio" name="top" value="1"> 是
						</label>
						<label class="radio-inline">
						  <input type="radio" name="top" value="0" checked> 否
						</label>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">允许评论：</label>
					<div class="col-sm-2">
						<label class="radio-inline">
						  <input type="radio" name="iscomment" value="1" checked> 是
						</label>
						<label class="radio-inline">
						  <input type="radio" name="iscomment" value="0" > 否
						</label>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">是否隐藏：</label>
					<div class="col-sm-2">
						<label class="radio-inline">
						  <input type="radio" name="isvisible" value="1" > 是
						</label>
						<label class="radio-inline">
						  <input type="radio" name="isvisible" value="0" checked> 否
						</label>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<label class="col-sm-1 control-label">工具栏：</label>
					<div class="col-sm-2">
						<label class="radio-inline">
						  <input type="radio" name="istoolbar" value="1" > 显示
						</label>
						<label class="radio-inline">
						  <input type="radio" name="istoolbar" value="0" checked> 不显示
						</label>
					</div>
				</div>
				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<div class="col-sm-12" align="center">
						<button class="btn btn-success" type="submit">保存</button>
						<button class="btn btn-primary" type="submit">发布</button>
						<button class="btn btn-white" type="reset">取消</button>
					</div>
				</div>
			</form>
		</div>
    </div>
</div>

<!-- 实例化编辑器 -->
<script type="text/javascript">
	$('#date_expire').val(laydate.now(+36500, 'YYYY-MM-DD hh:mm:ss'));
	var ue = UE.getEditor('container', {
    	initialFrameHeight : 400
});
</script>

{% endblock %}