{% extends 'lieo/base.html' %}

{% block content %}
    {% for article in articles %}
     <article class="article">
    <div class="article__info">
      <div class="article__info--left">
        <a class="author" href="https://blog.hduzplus.xyz/authors/1459314516372" rel="nofollow">
          <img class="author__avatar" src="https://img.hacpai.com/avatar/1459242579529_1556021082176.jpeg?imageView2/1/w/128/h/128/interlace/0/q/100" alt="author avatar" />
          <span class="author__name">{{ article.article_author }}</span>
        </a>
        <span class="split">in</span>
        <span class="tags">
            {% set tags = article.article_tag.split(',') %}
            {% for tag in tags %}
            <a class="tags__name" rel="tag" href="#">{{ tag }}</a>
            {% endfor %}
        </span>
      </div>
      <div class="article__info--right">
        <span class="createTime f-web">{{ article.created_at }}</span>
      </div>
    </div>
    <div class="article__intro">
      <div class="title">
        <a pjax-title="{{ article.article_title }}" href="https://blog.hduzplus.xyz/articles/2020/06/07/1591517345538.html">{{ article.article_title }}</a>
      </div>
      <div class="abstract vditor-reset"><p>{{ article.article_desc }}</p></div>
    </div>
    <div class="article__visit">
      <div class="article__visit--left">
        <span class="item--split createTime">2020-06-07</span>
        <a class="item item--split" href="https://blog.hduzplus.xyz/articles/2020/06/07/1591517345538.html#comments">
          <span data-uvstatcmt="1591517345538">0</span>
          评论
        </a>
        <span class="item">
          <span data-uvstaturl="https://blog.hduzplus.xyz/articles/2020/06/07/1591517345538.html">{{ article.article_click }}</span> 浏览
        </span>
      </div>
      <a class="article__visit--right" href="https://blog.hduzplus.xyz/articles/2020/06/07/1591517345538.html">阅读全文</a>
    </div>
  </article>
  {% endfor %}
{% endblock %}