{% extends 'black/base.html' %}
{% block content %}
<div class="wrapper">
    <div class="main-wrap">
        <main>
          <article class="post">
            <header>
              <h2>
                <a rel="bookmark" href="/">{{ article.article_title }}</a></h2>
              <div class="meta">
                <span class="glyphicon glyphicon-time"></span>
                  <time>{{ article.updated_at.strftime("%Y-%m-%d") }}</time></span>&nbsp; | &nbsp;
                <span class="glyphicon glyphicon-comment"></span>
                  <a href="#">
                    <span data-uvstatcmt="">{{ article.article_comment or 0}}</span>
                  </a>
                &nbsp; | &nbsp;
                  <span class="glyphicon glyphicon-globe" aria-label="浏览数"></span>
                  <span data-uvstaturl="">{{ article.article_click }}</span>
              </div>
            </header>
            <div class="vditor-reset post__content">
              {{ article.article_content | safe }}
            </div>
            <div class="row">
              <div class="col-lg-6" style="text-align:right"><img src="{{ url_for('static', filename='images/good.gif') }}" /> </div>
              <div class="col-lg-6" style="text-align:left"><img src="{{ url_for('static', filename='images/step.gif') }}" /></div>
            </div>
          </article>

          <div id="comments-section">
            <ul class="section-tabs">
              <li><a href="javascript:" _href="comments" class="active"><em>4</em>评论</a></li>
              <li><a href="javascript:" _href="downlist"><em>22</em>使用</a></li>
            </ul>
            <div id="comments" class="comments tabs-content">
              <div class="response comments_item">
                <h2><a href="/user/68453" class="image_border  "><img src="http://imgs.bootstrapmb.com/2019/12/251011515.jpg" /></a></h2>
                <div class="comment-post ">
                    <div class="comment-body">
                     <p class="uname"><b><a href="/user/68453">断了弦的情</a></b><em class="posted">2020-04-26 16:28</em></p>
                     <p class="cont"> qq</p>
                     <p class="comment-meta"><a class="reply">回复</a></p>
                    </div>
                </div>
              </div>
              <div class="response comments_item">
                  <h2><a href="/user/69044" class="image_border  "><img src="http://imgs.bootstrapmb.com/2019/12/261100120.jpg" /></a><a href="/user/16964" class="image_border  "><img src="http://imgs.bootstrapmb.com/2019/5/081153046.jpg" /></a></h2>
                  <div class="comment-post ">
                    <div class="comment-body">
                         <p class="uname"><b><a href="/user/69044">倩</a></b>对<a href="/user/16964"><b>王公子</b></a>说 <em class="posted">2019-12-26 11:01</em></p>
                         <p class="cont"> 的阿达</p>
                         <p class="comment-meta"><a class="reply" uname="倩" uid="69044">回复</a><a class="shang" uid="69044" uname="倩" cid="603"><i class="icon icon-shang big_14"></i>打赏</a></p>
                    </div>
                  </div>
              </div>
              <div class="response comments_item">
                  <h2><a href="/user/16964" class="image_border  "><img src="http://imgs.bootstrapmb.com/2019/5/081153046.jpg" /></a></h2>
                  <div class="comment-post ">
                      <div class="comment-body">
                          <p class="uname"><b><a href="/user/16964">王公子</a></b><em class="posted">2019-09-23 19:07</em></p>
                          <p class="cont"> 321</p>
                          <p class="comment-meta"><a class="reply" uname="王公子" uid="16964">回复</a><a class="shang" uid="16964" uname="王公子" cid="367"><i class="icon icon-shang big_14"></i>打赏</a></p>
                      </div>
                  </div>
              </div>
              <div class="response comments_item">
                  <h2><a href="/user/16964" class="image_border  "><img src="http://imgs.bootstrapmb.com/2019/5/081153046.jpg" /></a></h2>
                      <div class="comment-post ">
                          <div class="comment-body">
                              <p class="uname"><b><a href="/user/16964">王公子</a></b><em class="posted">2019-09-23 19:06</em></p>
                              <p class="cont"> 852</p>
                              <p class="comment-meta"><a class="reply" uname="王公子" uid="16964">回复</a><a class="shang" uid="16964" uname="王公子" cid="366"><i class="icon icon-shang big_14"></i>打赏</a></p>
                          </div>
                  </div>
              </div>
              <span class="response-user"></span>
              <div class="contact-box text-center">
                <form id="commentForm" onsubmit="return false">
                    <input type="hidden" name="article_title" value="{{ article.article_title }}"/>
                    <input type="hidden" name="cparent" value="0"/>
                    <input type="hidden" value="{{ csrf_token() }}"/>
                  <div class="form-group row">
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="comment_name" name="username" placeholder="姓名*" required="" autocomplete="off" />
                    </div>
                    <div class="col-lg-6">
                    <input type="email" class="form-control" id="comment_email" name="email" placeholder="Email*" required=""  autocomplete="off" />
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="comment_url" name="url" placeholder="网络主页" autocomplete="off" />
                  </div>
                  <div class="form-group">
                   <textarea class="form-control" id="comment_message" name="comment_message" rows="10" placeholder="留言内容*" required="" autocomplete="off" style="resize:none"></textarea>
                  </div>
                  <button type="button" class="btn btn-primary" id="commentBtn">提 交</button>
                  <div id="form-messages"></div>
                </form>
                  <script>
                      $("#commentBtn").click(function(){
                            let comment_name    = $("#comment_name").val();
                            let comment_email   = $("#comment_email").val();
                            let comment_url     = $("#comment_url").val();
                            let comment_message = $("#comment_message").val();

                            let f = document.getElementById('commentForm');
                            var fd=new FormData(f);
                            $.ajax({
                                url: '{{ url_for('web.web_comment') }}',
                                type: 'post',
                                processData: false,
                                contentType: false,
                                data: fd,
                                success: function (res) {
                                    layer.alert(res.message);
                                }
                            })
                      })


                    $(".reply").click(function(){

                    })
                  </script>
              </div>
            </div>
          </div>
        </main>
    </div>
</div>

{% endblock %}

