{% extends 'black/base.html' %}

{% block content %}

{% for article in articles %}
<article class="post">
        <header>
            <h2>
                <a title="{{ article.article_title }}" target="_blank" rel="bookmark" href="/article/{{ article.article_seo }}">
                    {{ article.article_title }}
                </a>
            </h2>

            <div class="meta">
                <span class="vditor-tooltipped vditor-tooltipped__n"
                      aria-label="更新日期">
                    <i class="icon-date"></i>
                    <time>
                        {{ article.updated_at.strftime("%Y-%m-%d") }}
                    </time>
                </span>
                &nbsp; | &nbsp;
                <span class="vditor-tooltipped vditor-tooltipped__n" aria-label="评论数">
                    <i class="icon-comments"></i>
                    <a href="/comments">
                        <span data-uvstatcmt="1592708224683">0</span> 评论</a>
                </span>
                &nbsp; | &nbsp;
                <span class="vditor-tooltipped vditor-tooltipped__n" aria-label="浏览数">
                    <i class="icon-views"></i>
                    <span data-uvstaturl="/">{{ article.article_click }}</span> 浏览
                </span>
            </div>
        </header>
        <div class="vditor-reset">

        </div>
        <footer class="fn-clear tags">
             {% set tags = article.article_tag.split('@') %}
            {% for tag in tags %}
            <a class="tag" rel="tag" href="#">{{ tag }}</a>
            {% endfor %}
            <a href="/article/" rel="contents" class="fn-right">
                阅读更多»
            </a>
        </footer>
    </article>

{% endfor %}
{% endblock %}