<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta name="theme-color" content="#3b3e43" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <title>{{ setting.site_title }}</title>
  <meta name="description" content="{{ setting.site_title }}" />
  <meta property="og:description" content="{{ setting.site_title }}" />
  <meta name="keywords" content="{{ setting.keywords }}" />
  <link rel="icon" type="image/png" href="" />
  <link rel="apple-touch-icon" href="" />
  <link rel="shortcut icon" type="image/x-icon" href="" />
  <meta name="copyright" content="{{ setting.site_foot }}" />
  <meta http-equiv="Window-target" content="_top" />
  <meta property="og:locale" content="zh_CN" />
  <meta property="og:title" content="{{ setting.site_title }}" />
  <meta property="og:site_name" content="{{ setting.site_name }}" />
  <meta property="og:url" content="{{ setting.site_url }}" />
  <meta property="og:image" content="" />
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
  <link rel="canonical" href="{{ setting.site_url }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/black/base.css') }}?{{ random }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/black/article.css') }}?{{ random }}" />
  <link href="{{ url_for('static', filename='libs/bootstrap/3.3.6/css/bootstrap.min.css') }}" rel="stylesheet">

 <script src="{{ url_for('static', filename='libs/jquery/2.1.4/jquery.min.js') }}"></script>
 <script src="{{ url_for('static', filename='libs/bootstrap/3.3.6/js/bootstrap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='libs/layer/layer.min.js') }}"></script>

 </head>
 <body>
  <header>
   <div class="banner">
    <div class="fn-clear wrapper">
     <h1 class="fn-inline"> <a href="/" rel="start"> {{ setting.site_name }}</a> </h1>
     <small> &nbsp; {{ setting.site_title }}</small>
     <div class="fn-right">
     </div>
    </div>
   </div>
   <div class="navbar">
    <div class="fn-clear wrapper">
     <nav class="fn-left">
      {% for nav in navigate %}
      <a href="{{ nav.navigate_url }}" target="_self">
       <span class="glyphicon {{ nav.navigate_icon }}"></span> {{nav.navigate_name}}</a>
      {% endfor %}
     </nav>
     <div class="fn-right">
      <form class="form" action="/search">
       <input placeholder="搜索" id="search" type="text" name="keyword" />
       <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </form>
     </div>
    </div>
   </div>
  </header>
  <div class="wrapper">
   <div class="main-wrap">
    <main>
     <div>
		{% block content %}
		{% endblock %}
      <div class="fn-clear">
        <nav class="pagination fn-right">
        {{ page_html |  safe }}
       </nav>
      </div>
     </div>
    </main>
    <aside>
     <section>
      <div class="ad vditor-reset">
      </div>
      <div class="module">
       <header>
        <h2>分类</h2>
       </header>
       <main>
        {% if category %}
         {% for cg in category %}
          <a href="/category" aria-label="59 文章" class="tag vditor-tooltipped vditor-tooltipped__n"> {{ cg.category_name }}</a>
         {% endfor %}
        {% endif %}
       </main>
      </div>
      <div class="module">
       <header>
        <h2>标签</h2>
       </header>
       <main>
       {% if tag_set %}
          {% for tag in tag_set %}
              <a rel="tag" href="/tags/{{ tag }}" class="tag vditor-tooltipped vditor-tooltipped__n" aria-label="26 篇文章"> {{ tag }} </a>
          {% endfor %}
       {% endif %}
       </main>
      </div>
      <div class="module meta">
       <main class="fn__clear">
        <img src="{{ url_for('static', filename='images/avatar.jpg') }} " />
        <div class="fn-right">
         <a href="/"> 412 <span class="ft-gray">文章</span></a>
         <br />
         <span data-uvstaturl="/">3446695</span>
         <span class="ft-gray">浏览</span>
         <br />8
         <span class="ft-gray">当前访客</span>
        </div>
       </main>
      </div>
      <div class="module">
       <header>
        <h2>友链</h2>
       </header>
       <main>
        {% if link %}
          {% for lk in link %}
             <a rel="friend" target="_blank" href="{{ lk.link_href }}" class="tag vditor-tooltipped vditor-tooltipped__n" aria-label="{{ lk.link_desc }}"> {{ lk.link_name }}</a>
          {% endfor %}
        {% endif %}
       </main>
      </div>
      <div class="module">
       <header>
        <h2>存档</h2>
       </header>
       <main class="list">
        <ul>
{% if archives %}
    {% for archive in archives %}
         <li>
                <a href="https://blog.hduzplus.xyz/archives/2020/06"
                  title="2020 年 06 月(1)">
                  {{ archive[0].split('-')[0] }}年{{ archive[0].split('-')[1] }}月 ({{ archive[1] }})
               </a>
          </li>
    {% endfor %}
{% endif %}
        </ul>
       </main>
      </div>
     </section>
    </aside>
   </div>
  </div>
  <footer class="footer fn-clear">&copy; 2020
      <a href="{{ setting.site_url }}">{{ setting.site_foot }}</a>
  </footer>

<script>

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        let csrftoken = $('meta[name=csrf-token]').attr('content')
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})

</script>

 </body>
</html>